body {
	background-color: #f8f9fa;
} 

#breakdown {
	margin-bottom: 40px;
}

.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tweet {
	background-color: #ffffff;
	margin-bottom: 20px;
	padding: 20px;
	border-bottom: 2px solid;
	border-bottom-color: #1da1f2;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}