{% extends 'base.html' %}

{% block title %}
Tweet Analysis
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}

<div class="container">
    <h2>Tweet Analysis</h2>
</div>
<div class="container" align="center" id="analysis">
    <h4>Tweets analyzed: {{ total }}</h4>
    <canvas id="doughnutChart" width="400" height="400"></canvas>
</div>
<div class="container" id="breakdown">
    <h2>Tweet Breakdown</h2>
    
{#
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Toxic</a></li>
        <li><a data-toggle="tab" href="#menu1">Severe Toxic</a></li>
        <li><a data-toggle="tab" href="#menu2">Obscene</a></li>
        <li><a data-toggle="tab" href="#menu3">Insult</a></li>
        <li><a data-toggle="tab" href="#menu4">Threat</a></li>
        <li><a data-toggle="tab" href="#menu5">Identity Hate</a></li>
    </ul>
#}

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>Toxic Tweets</h3>
            {% for t in tweet_list %}
              <div class="tweet">
                <p>{{ t }}</p>
              </div>
            {% endfor %}
        </div>

{# 
        <div id="menu1" class="tab-pane fade">
            <h3>Severe Toxic</h3>
            <p>tweet 1</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Obscene</h3>
            <p>tweet 1</p>
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>Insult</h3>
            <p>tweet 1</p>
        </div>
        <div id="menu4" class="tab-pane fade">
            <h3>Threat</h3>
            <p>tweet 1</p>
        </div>
        <div id="menu5" class="tab-pane fade">
            <h3>Identity Hate</h3>
            <p>tweet 1</p>
        </div>
#}
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>


Chart.pluginService.register({
  beforeDraw: function(chart) {
    var width = chart.chart.width,
        height = chart.chart.height,
        ctx = chart.chart.ctx;

    ctx.restore();
    var fontSize = ((height - chart.chartArea.top) / 100).toFixed(2);
    ctx.font = fontSize + "em sans-serif";
    ctx.textBaseline = "middle";

    var text = "{{ percent }}%",
        textX = Math.round((width - ctx.measureText(text).width) / 2),
        textY = height / 1.8;

    ctx.fillText(text, textX, textY);
    ctx.save();
  }
});

    //doughnut
    var txc = '{{ vals[0] }}';
    var stx = '{{ vals[1] }}';
    var obs = '{{ vals[2] }}';
    var ins = '{{ vals[3] }}';
    var thr = '{{ vals[4] }}';
    var idh = '{{ vals[5] }}';

    var ctxD = document.getElementById("doughnutChart").getContext('2d');
    var myLineChart = new Chart(ctxD, {
      type: 'doughnut',
      data: {
        labels: ["Toxic", "Severe Toxic", "Obscene", "Insult", "Threat", "Identity Hate"],
        datasets: [{
          data: [txc, stx, obs, ins, thr, idh],
          backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360", "#5DAAEC"],
          hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774", "#8EC0EB"]
        }]
      },
       options: {
        responsive: false,
            cutoutPercentage: 50
      }
    });
</script>
{% endblock %}

