{% extends 'base.html' %}

{% block title %}
det0x - A web app for for identifying toxic Twitter users
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}

<div class="container">
    <form action="{{ url_for('analysis') }}" method="post">
        <h2>Analyse a Twitter user</h2>
        <div class="form-group">
            <label for="twitter-url">Twitter URL</label>
            <input type="text" class="form-control" name="twitter_url" placeholder="Enter Twitter URL">
            <span><i>(Hint: Use twitter.com/toxicdonjoe to check the stats of our dummy test account.)</i></span>
        </div>
        <div class="form-group">
            <label for="num-tweets">Tweets to classify</label>
            <select class="form-control" name="num_tweets">
                <option>25</option>
                <option>50</option>
                <option>75</option>
                <option>100</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
